$white: rgb(255, 255, 255);
$red: rgb(247, 65, 45);
$green: rgb(72, 176, 75);
$blue: rgb(27, 152, 246);

$button: rgb(31, 206, 109);
$bg: rgb(240, 240, 243);

$sha: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $bg;

  @extend %flex;
}

*, *:before, *:after, input, button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

$break-mid: 500px;

#wrapper {
  width: 320px;
  height: 100%;
  max-height: 500px;
  background-color: $white;
  box-shadow: $sha;
  position: relative;

  @media screen and (max-width: $break-mid) {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .color {
    width: 100%;
    height: 42%;
    background-color: rgb(127, 127, 127);
    position: relative;
    @extend %flex;
    flex-direction: column;
    transition: .3s cubic-bezier(.44, -0.26, .76, 1.23);

    .show-color {
      font-family: 'Open Sans';
      color: white;
      font-size: 1.4em;
      font-weight: 300;
      background-color: rgba(0, 0, 0, .3);
      padding: 5px 10px;

      &::selection {
        background: rgba(0, 0, 0, 0); /* WebKit/Blink Browsers */
      }

      &.bump {
        animation: bumpy .3s ease-in-out alternate 1;
      }
    }
  }

  .rangers-bg {
    width: 100%;
    height: 42%;
    background-color: $white;
    padding: 10% 0;
  }

  .saveit {
    width: 100%;
    height: 16%;
    background-color: $button;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    h2 {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 1.2em;
      margin: 0;
      padding: 0;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: $white;
      user-select: none;
    }
  }
}

input[type=range] {
  width: 80%;
  margin: 5px 0;
  margin-left: calc(50% - 40%);
  height: 36px;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &.red::-moz-range-thumb {
    background: $red;
  }

  &.green::-moz-range-thumb {
    background: $green;
  }

  &.blue::-moz-range-thumb {
    background: $blue;
  }

  &.red::-webkit-slider-thumb {
    background: $red;
  }

  &.green::-webkit-slider-thumb {
    background: $green;
  }

  &.blue::-webkit-slider-thumb {
    background: $blue;
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -8.4px;
}

input[type=range]::-moz-range-track {
  height: 8.4px;
  cursor: pointer;
  background: darken($bg, 10%);
  border-radius: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8.4px;
  cursor: pointer;
  background: darken($bg, 10%);
  border-radius: 10px;
}

.woba {
  display: block;
  position: absolute;
  background: lighten($button, 30%);
  border-radius: 100%;
  transform: scale(0);
  opacity: .7;
}

.woba.animate {
  animation: ripple 0.45s linear forwards;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}